---
title: Contact page
---

<div class="contact-title text-center">
  <h3>Our team</h3>
</div>

<div class="contacts text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <img class="img-responsive img-circle center-block" src="http://unsplash.it/150/150/?random" alt"test"/>
        <h3>Florian</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div class="col-sm-6 col-md-3">
        <img class="img-responsive img-circle center-block" src="http://unsplash.it/150/150/?random" alt"test"/>
        <h3>Alex</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div class="col-sm-6 col-md-3">
        <img class="img-responsive img-circle center-block" src="http://unsplash.it/150/150/?random" alt"test"/>
        <h3>Arnaud</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div class="col-sm-6 col-md-3">
        <img class="img-responsive img-circle center-block" src="http://unsplash.it/150/150/?random" alt"test"/>
        <h3>Greg</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="contact-detail text-center">
  <h2>Contact us</h2>
  <h3><i class="fa fa-phone"></i> +33 6 42 42 42 42</h3>
  <h3><i class="fa fa-envelope"></i> <a href="mailto:contact@styl.us">contact@styl.us</a></h3>
</div>



